
%input{
    background: rgba(243, 243, 243, 1);
    color: black;
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    font-size: 18px;
}

.buy{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0px;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 186, 252, 1);
    color: white;
    gap: 20px;
    .buy-title{
        font-size: 24px;
        font-weight: 700;
        color: white;
    }
    .buy-desc{
        width: 50%;
        text-align: center;
    }
    .buy-form{
        margin: auto 0px;
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        align-items: center;
        padding: 10px 10px;
        .buy-form-name{
           @extend %input;
        }
        .buy-form-tel{
            @extend %input;
        }
        .buy-form-select{
            @extend %input;
            outline: none;
            border: none;
        }
        .buy-form-btn{
            width: 40%;
            background-color:rgba(0, 186, 252, 1);
            color: white;
            padding: 8px 0px;
            font-weight: 700;
            border-radius: 5px;
        }
    }
}